nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    width: 30px;
    height: 30px;
}

div {
    display: flex;
    justify-content: center;
}

h1 {
    display: inline-block;
}

#search {
    border-radius: 50px;
}

.search-bar {
    display: flex;
    justify-content: space-evenly;
}

#search {
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs-block {
    margin-top: 40px;
    align-items: center;
}

input {
    margin-left: 40px;
}

.left {
    display: inline-block;
    align-items: flex-end;
}

.right {
    align-items: flex-end;
}