body {
    background-color: rgb(155, 121, 155);
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: row;
    justify-content: space-evenly;
}

.pokemon-card {
    width: 250px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    align-items: baseline;
    border-radius: 30px;
    background-color: rgb(220, 220, 220);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokemon-backgorund {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(82, 71, 71);
    align-items: center;
    justify-content: center;
    display: flex;
}

.pokemon-data {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pokemon-name {
    font-size: 30px;
}

.pokemon-type {
    color: gray;
}

.pokemon-card img {
    height: 275px;
}

#haunter {
    background-color: rgb(5, 36, 14);
}

.pokemon-name2 {
    font-size: 30px;
    color: rgb(247, 196, 247);
}

.pokemon-card2 img {
    height: 280px;
}

.pokemon-card3 {
    background-color: rgb(85, 82, 82);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokemon-card3 img {
    height: 300px;
}

.pokemon-card4 {
    background-color: rgb(20, 15, 15);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokemon-card4 img {
    height: 400px;
}

.pokemon-name4 {
    font-size: 30px;
}

.pokemon-card5 {
    background-color: rgb(143, 50, 50);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokemon-card5 img {
    height: 215px;
    transform: rotate(20deg)
}

.pokemon-card6 {
    background-color: rgb(80, 52, 107);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokemon-card6 img {
    height: 270px;
}